/* Write your CSS here */
.notfound-contianer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    background-position: center;
    background-size: cover;
}
.text {
    font-size: 25px;
    font-family: Bree Serif;
    color: #ffffff;
}