/* Write your CSS here */
.team-item {
  list-style-type: none;
  width: 50%;
}

.list-item-container {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  border: 1px solid #ffffff;
  background-color: #ffffff33;
  height: 85%;
  border-radius: 12px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 24px;
}

@media screen and (min-width: 767px) {
  .list-item-container {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 15;
    margin-right: 15px;
    margin-bottom: 30px;
  }
}

.team-image {
  height: 45px;
  width: 45px;
}

@media screen and (min-width: 767pxpx) {
  .team-image {
    height: 80px;
    width: 80px;
  }
}

@media screen and (min-width: 992pxpx) {
  .team-image {
    height: 150px;
    width: 150px;
  }
}

.team-name {
  color: #ffffff;
  font-size: 12px;
  font-family: Bree Serif;
  margin-left: 4px;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .team-name {
    font-size: 32px;
    margin-left: 16px;
  }
}
